<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="mx-1">
			<a href="files/Reza-Ghanbari-CV.pdf" title="CV" class="btn-primary hover-color">
				<i class="fa fa-download" aria-hidden="true"></i>
				CV
			</a>
		</li>
		<li class="mx-1"><a href="/education" title="Education">Education & Research</a></li>
		<!-- <li class="{{ page.notes }}"><a href="/notes" title="Research Experince">Research</a></li> -->
		<!-- <li class="{{ page.notes }}"><a href="/notes" title="Projects">Projects</a></li> -->
		<li><a href="/contact" title="Other Info">Others</a></li>
	</ul>
	<h3 class="text-muted"><a href="/">Reza Ghanbari</a></h3>
</div> <!-- /header -->
